<template>
    <section id="tabs" class="project-tab">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Jurnal</h3>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nama Wilayah Kerja</th>
                                            <th>Kode COA (7 Segmen)</th>
                                            <th>Nominal Debet</th>
                                            <th>Nominal Kredit</th>
                                            <th>Tanggal Jurnal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(jurnal, index) in jurnals">
                                            <td>{{ jurnal.workDay }}</td>
                                            <td>{{ jurnal.coa }}</td>
                                            <td>{{ jurnal.nominalDebit }}</td>
                                            <td>{{ jurnal.nominalKredit }}</td>
                                            <td>{{ jurnal.jurnalDate }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>

    //import axios
    import axios from 'axios';

    //import hook onMounted from vue
    import { ref, onMounted } from 'vue';

    export default {
        name: 'HomeComponent',

        components: {
        },
        
        setup() {
            const jurnals = ref([]);

            onMounted(() => {
                //get jurnals
                axios.get('/datas/jurnal')
                    .then(response => {
                        jurnals.value = response.data;
                    })
            });

            //return state
            return {
                jurnals,
            }
        }
    }
</script>